# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
env/

# Django DB
db.sqlite3

# Media files (uploaded user files)
media/

# VS Code & OS files
.vscode/
*.log
*.DS_Store
Thumbs.db

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py
!*/migrations/__init__.py
